{
  "plugins": ["prettier-plugin-tailwindcss"],
  "editor.formatOnSave": true,
  "editor.insertSpaces": false,
  "editor.tabSize": 4,
  "editor.detectIndentation": false,
  "useTabs": true,
  "jsxBracketSameLine": true
}
