@use './settings.scss' as *;
@use 'tailwindcss/base';
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';



@layer components {
    .content--container {
        @apply container data-[flag-border=true]:border data-[flag-border=true]:border-y-purple-500;
    }

    .text--content {
        text-align: justify;
        @include text-primary;
    }

    .heading--content {
        @include heading-primary;
    }

    @media(screen(2xl)) {
        .content--container {
            max-width: $max-width-content--container;
            width: 100%;
        }
    }

}