@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.mix__white-black {
		background-color: black;
		color: #f5f5f5;
		mix-blend-mode: difference;
		border-color: #d0d0d0;
	}
	.circle-clip-path {
		clip-path: circle(100% at 50% 50%);
	}
}
body {
	background-color: #f2f2f2;
}
