$text-blur: 0.25rem;
$coffee-seed-size: 5rem;
$max-width-content--container: 50%;
$border-radius: 20px;
$button-padding : 10px 20px;


@mixin background-image($url, $size: cover) {
    background: var($url);
    background-position: center;
    background-size: $size;
    background-repeat: no-repeat;
}

@mixin absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin button-style {
    @apply bg-black/90 border border-white/10 text-white backdrop-blur-lg;
    border-radius: $border-radius;
}

@mixin heading-primary {
    @apply text-5xl text-black/90 font-medium;
}

@mixin text-primary {
    @apply text-lg text-black/70;
}

@mixin height-screen {
    min-height: 100svh;
    height: 100%;
}