@use 'tailwindcss/components';
@use '../../../app/settings.scss' as *;

$image-width: 100%;
$image-height: 24rem;

@layer components {
    .grinder {
        @include views;

        .content--container {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            @include views;

            .content--image {
                width: $image-width;
                height: $image-height;
                @include background-image(--content-image);
                background-size: contain;
            }

            .coffee--seed-step {
                @include absolute-center;
                background-color: rebeccapurple;
                width: $coffee-seed-size;
                height: $coffee-seed-size;
                z-index: 10;
            }

            .spoon--step {
                width: calc($image-width/2);
                height: 15rem;
                position: absolute;
                transform: rotate(120deg);
                background-color: black;
            }
        }
    }
}