@tailwind components;

@layer components {
	.grinder-view {
		min-height: 100svh;
		height: 100%;
		width: 100%;
		position: relative;
	}
	.grinder--content-outer {
		@apply container;
		height: 100svh;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
	}
	.grinder--image {
		width: 100%;
		height: 24rem;
		background: var(--grinder-image);
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}
	.coffee--seed-step {
		position: absolute;
		height: 5rem;
		width: 5rem;
		background-color: red;
	}
	.spoon--step {
		width: 100%;
		height: 15rem;
		position: absolute;
		background-color: red;
		transform: rotate(120deg);
	}

	@media (width >= 1400px) {
		.grinder--content-outer {
			width: 50%;
		}
	}
}
