@use '../../../app/settings.scss' as *;
@use 'tailwindcss/components';

@layer components {
    .content--outer {
        @include views();
    }

    .content--container {
        @apply relative container;
        @include views();
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content--image {
        width: 100%;
        height: 24rem;
        @include background-image(--content-image);
        background-size: contain;
    }

    .coffee--seed-step {
        @include absolute-center();
        background-color: red;
        width: $coffee-seed-size;
        height: $coffee-seed-size;
    }

    @media(screen(2xl)) {
        .content--container {
            width: 50%;
        }
    }

}