@tailwind components;

@layer components {
	.about-view {
		@apply font-bricolage;
		position: relative;
		min-height: 100vh;
		height: 100%;
		width: 100%;
		overflow-x: hidden;
	}

	.seed {
		position: absolute;
		height: var(--seed-size);
		width: var(--seed-size);
		top: var(--seed-top);
		left: var(--seed-left);
		background: var(--seed-image);
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}

	.seed-step {
		height: var(--seed-size);
		width: var(--seed-size);
	}

	.about-intro--outer {
		@apply container;
		min-height: 100vh;
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		z-index: 10;
		/* border: 1px solid salmon; */
		perspective: 100vh;
	}
	.about-intro--outer .seed-step {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.about-intro--inner {
		@apply space-y-5;
		margin: 0 auto;
		position: relative;
		/* border: 1px solid red; */
	}

	.about-description--outer {
		min-height: 100vh;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
	}

	.about-description--outer .seed-step {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.about-description--outer .grinder {
		width: 24rem;
		height: 24rem;
		background: var(--grinder-image);
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}
	.about-description--inner {
		@apply container;
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		z-index: 10;
	}
	.about-view .text--content {
		@apply text-black/75 text-lg;
		filter: blur(0rem);
	}
	.about-view .heading--content {
		@apply text-4xl text-black/90 font-medium;
		filter: blur(0rem);
	}
	.spoon {
		position: absolute;
		width: 24rem;
		height: 24rem;
		left: 50%;
		bottom: -25%;
		transform: translate(-50%, 0);
		background-image: var(--spoon-image);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}

	.about-coffee--outer {
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
	}

	.spoon-step {
		position: absolute;
		width: 24rem;
		height: 24rem;
		top: -30%;
		z-index: -10;
	}
	.coffee-cup {
		height: 24rem;
		width: 24rem;
		background: var(--coffee-cup-image);
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		position: relative;
		z-index: 10;
	}

	@media (width >= 1400px) {
		.about-intro--outer {
			max-width: 50%;
		}
		.about-description--inner {
			max-width: 50%;
		}
		.about-coffee--inner {
			max-width: 50%;
		}
	}
}
