@tailwind components;

@layer components {
	.about-view {
		@apply font-bricolage;
		position: relative;
		min-height: 100vh;
		height: 100%;
		width: 100%;
		overflow-x: hidden;
	}

	.seed {
		position: absolute;
		height: var(--seed-size);
		width: var(--seed-size);
		top: var(--seed-top);
		left: var(--seed-left);
		background: var(--seed-image);
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}

	.seed-step {
		height: var(--seed-size);
		width: var(--seed-size);
	}

	.about-intro--outer {
		@apply container;
		min-height: 100vh;
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		z-index: 10;
		/* border: 1px solid salmon; */
		perspective: 100vh;
	}
	.about-intro--outer .seed-step {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.about-intro--inner {
		@apply space-y-5;
		margin: 0 auto;
		position: relative;
		/* border: 1px solid red; */
	}

	.about-description--outer {
		min-height: 100vh;
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
	}

	.about-description--outer .seed-container .seed-step {
		position: absolute;
		top: var(--seed-top);
		left: var(--seed-left);
	}
	.about-description--inner {
		@apply container;
		height: 100%;
		width: 100%;
	}
	.text--content {
		@apply text-black/75;
		text-align: center;
	}

	@media (width >= 1400px) {
		.about-intro--outer {
			max-width: 50%;
		}
		.about-description--inner {
			max-width: 50%;
		}
	}
}
