@tailwind components;

@layer components {
	.about-view {
		min-height: 100svh;
		height: 100%;
		width: 100%;
	}
	.about--content-outer {
		@apply container;
		display: flex;
		flex-direction: column;
		gap: 50px;
	}
	.about--content-inner {
		@apply space-y-4;
	}
	.about--content-image {
		height: 24rem;
		width: 100%;
		background: var(--about-content-image);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		border-radius: 20px;
	}
	.about--heading {
		@apply text-black/90 text-4xl font-medium;
	}
	.about--text {
		@apply text-black/70 text-justify;
	}
	.spoon {
		height: 15rem;
		background: var(--spoon-image);
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}
	@media (width >= 1400px) {
		.about--content-outer {
			max-width: 50%;
		}
	}
}
