@use '../../../app/settings.scss' as *;
@use 'tailwindcss/components';


@layer components {

    .content--outer {
        @apply font-bricolage;
        @include views;
    }

    .content--container {
        @apply space-y-10 container;
    }

    .content--inner {
        @apply space-y-4;
    }

    .text--content {
        @apply font-medium text-justify;
        filter: blur($text-blur);
        @include text();
    }

    .heading--content {
        filter: blur($text-blur);
        @include heading();
    }

    .content--image {
        width: 100%;
        height: 24rem;
        @include background-image(--content-image);
    }

    .spoon--image {
        width: 100%;
        height: 24rem;
        @include background-image(--spoon-image);
        background-size: contain;
    }

    @media(screen(2xl)) {
        .content--container {
            width: 50%;
        }
    }

}